*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;//  height: 100vh;
    background: #f6f6f6;
    }

    html, body, div, span, applet, object,
    iframe, h1, h2, h3, h4, h5, h6, p
    , blockquote, pre, a, abbr, acronym,
    address, big, cite, code, del, dfn, em,
    img, ins, kbd, q, s, samp, small, strike, strong,
    sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
    ul, li, fieldset, form, label, legend, table, caption,
    tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup, menu, .head-wrp, output, ruby,
    section, summary, time, mark,
    audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
     
html{
scroll-behavior: smooth;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

    header{
    background: #ededed;
    }
.Wrapper{
    @include flex;
    justify-content: space-between;
    width: 100%;
    .R1{
        width: 28%;
        justify-content: space-between!important;    padding: .6rem 1.6rem .2rem 0;
        @include flex;position: relative;
        &::after{
           content: '';
           width: 1px;
           height: 62px;
           background: #dadada;
           position: absolute;
           right: -14px;
           top: -5px;
        }
        .rchild{
           @include  flex;
           justify-content: space-between;
           width: 35%;
        }
        .logo{
            width: 15%;
         img{
             max-width: 80%;
             border-radius: 50%;
         }
        }
    }
    path {
        fill: #919191;
    }
    .status,.Menu,.Menusetting{
        cursor: pointer;
    }
}

//middle section
.maincontent{
    @include flex;
//    padding: 0 20px;
    .LeftSide{
      width: 30%;
      border-right: 1px solid #dadada;
      .MainWrp{   
         width: 100%; 
      .head{   
          padding:0 1rem 0 0;
           input[type="text"] {
            width: 100%;
            padding: 0.7rem 0 .7rem 3.4rem;
            margin: .5rem 0rem .5rem 0rem;
            border-radius: 50px;
            border: none;
            background: #ffffff;
            outline: none;
            color: #acacac;
        }
      }
    }
    .btnwrp{
        .cmn2{
            @include flex;
             flex-wrap: nowrap;
             justify-content: space-between;
             .imgwrp {
                width: 62px;
                margin-right: 12px;
            }
             img{
                width: 100%;
                height: 59px;
                border-radius: 50%;
             }
          } 
          .content{
            width: 85%;
          }
       }
      
       .btnwrp {
        height: 522px;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        a{
         text-decoration: none;
         background: #ebebeb;
         margin:  0rem 0 .5rem;
         padding: 10px 0 10px 1.3rem;
         display: block;
         color: #424242;
        }
     }
    }


    .RightSide{
        width: 70%;
        background: #e5ddd5;
        position: relative;
        .chat_bg{
            background:url(../image/chat-bg.png);
            background-repeat: repeat;
            background-size: contain;
            background-attachment: fixed;
            height:576px;
            opacity: 0.08;
        }
        .Rmain{
            position: absolute;
            top:65px;
            right:0;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0 1rem;
        }
        .R2{
            width: 100%;
            top: -63px;
            position: absolute;
            right: 0;
            padding: .6rem .2rem;
            .R2child{
                @include flex;justify-content: space-between;
                padding: 0 1.2rem;
            .f1,.f2{
                @include  flex;
                justify-content: space-between;
                width: 50%;
             }
             figure {
                width: 50px;
                height: 50px;
                 img{
                    // max-width: 100%;
                    height:50px;
                    width: 51px;
                    border-radius: 50%;

                 }
             }
             .name {
                width: 84%;
                h2, h5{
                color: #424242;
                }
                h5{
                font-size: .8rem;
                color: #797979;
                }
            }
            .f2{
                justify-content: flex-end;
                .searchbar {
                    margin: 0 1.4rem 0 0;   
                }
                .searchicon, .profileSetting{
                        cursor: pointer;
              }
            }
        }
     }
    }
}
#Categories1{
    position: absolute;
    background: #ffffff;
    padding: 0  0rem;
    width: 230px;
    top:65px;
    right:54px;
    z-index: 11;
    border-radius: 5px;
    animation: animatezoom .5s;
    box-shadow: 0 4px 12px 1px rgba(0, 0, 0, 0.5);
    display: none;
    ul li{
        list-style-type: none;
        padding: 14px 12px;
        margin: 10px 0;
        color: #000000;
        text-transform: capitalize;
      transition: all .3s ease-in-out;
        &:hover{
      transition: all .3s ease-in-out;
      background: #f1f1f1;
        }
    }
}

@keyframes animatezoom{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
///scroll bar edit
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
background: #cccccc;
}
::-webkit-scrollbar-thumb:hover{
    background: #888;
}