*{
    padding:0 ;
    margin:0 ;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;//  height: 100vh;
        color:#002f34;
        }
    
        html, body, div, span, applet, object,
        iframe, h1, h2, h3, h4, h5, h6, p
        , blockquote, pre, a, abbr, acronym,
        address, big, cite, code, del, dfn, em,
        img, ins, kbd, q, s, samp, small, strike, strong,
        sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
        ul, li, fieldset, form, label, legend, table, caption,
        tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup, menu, .head-wrp, output, ruby,
        section, summary, time, mark,
        audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
        }
         
html{
    scroll-behavior: smooth;
}

@mixin flex {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height:100%;
 }
     
 .myheader{
 //   grid-area: header;
    // margin:1rem 0 0;
 }
 header{
     padding:.5rem 0 0;
 }
 .main{
    grid-area: main;
 }
 .footer{
    grid-area: footer;
 }
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo-color{
    fill: #002f34!important;
}
nav{
    @include flex;
    justify-content: flex-start; 
    flex-wrap: nowrap;
    //logo
    .logo{
        margin: 0px 10px 0px 0;
    }
    //center-section

    .m-section{
     width: 70%;
     @include flex;
     justify-content: space-between;position: relative;
     .f1 {
        width: 27%;position: relative;
        #mDrpbx{
            display: none;
            position: absolute;
            width: 267px;
            height: 303px;
            box-shadow: 0 0 6px 0 rgba(0,0,0,.12), 0 6px 6px 0 rgba(0,0,0,.24);
            border-radius: 4px;
            background: #ffffff;
            overflow: scroll;
            z-index: 15;
           ul{
               h5{
                   font-size:13px;
                   color: rgba(0,47,52,.64);
                   font-size: 12px;
                   text-transform: uppercase;
                   padding: 1rem .6rem .6rem;
               }
            li{
                list-style-type:none;
                  transition: all .3s ease-in-out;
                  padding: 1rem 2.2rem;
                &:hover{
                  background: #c8f8f6;
                  transition: all .3s ease-in-out;cursor: pointer;
                }
                a{
                color: #002f34;text-decoration: none;text-transform: capitalize;
                &::before{
                   content: '\f3c5';
                   width:40px;
                   height:40px;
                   font-family: "Font Awesome 5 Free"; font-weight: 900;
                   position: absolute;
                   left:14px;
                }
                }
            }
           }
           .H01cnt {
            padding: .4rem .5rem 1.4rem 2.1rem;
            border-bottom:1px solid #ccd5d6;
            h2{
            font-size: 1.2rem;
            font-weight: bold;color: #3a77ff;
            }
            span{
            font-size:13px;
            line-height: 1.3;color: #3a77ff;
            }
        }
        }
        .Fspan01{
            position: absolute;
            left: 7px;
            top: 9px;
            svg{
             fill:#002f34;
            }
        }
      }
      .f2 {
        width: 35.5rem;
        margin: 0 0 0 1rem;position:relative;cursor: pointer;
        .Fspan02{
            position: absolute;
            right: -4px;
            top: 9px;
            z-index:12;
            svg{
             fill:#ffffff;
            }
        }
    }
    input[type="text1"] {
        padding:0 .3px 0 2.6rem!important;  font-size: 1rem;
    }
      input[type="text"],input[type="text1"]  {
        width: 100%;
       padding: 0 .3rem;
        border:2px solid #002f34;
        border-radius: .3rem;
        color: #002f34;
        height: 40px;
        &:focus{
            border:2px solid #23e5db;
            outline: #23e5db;
        }
      }
      .sp1{
        width: 2.5rem;
        height: 2.5rem;
        background: #002f34;
        position: absolute;
        right: -12px;
        top: 2px;
      }
     }
//last-section

    .last{
        @include flex;
        justify-content: space-around;position: relative;
        width: 30%;
        text-transform: capitalize;
      .a1{
       display: flex;
       justify-content: space-between;
       position: relative;
      h3{
         color: #002f34;
         font-weight: bold;
        } 
        button{
        cursor: pointer;border: none;
        outline: none;
        padding: 0 0 0 10px;position: relative;
        .fa-chevron-down1{
            transform: translate(-1px, -11px);
            position: absolute;
            fill: #002f34;
            path{
                font-size: 27px;
            }
        }
        }
    } 
    .a2{
        a{
            color: #002f34;font-size: 16px;font-weight: bold; text-decoration: none;
            border-bottom: 2px solid #002f34;
                transition: all .3s ease-in-out;
                padding: 0 0 4px;
            &:hover{
                border-bottom: 2px solid #ffffff;
                transition: all .3s ease-in-out;
                opacity: .99;
            }
        }
    }
    .a3{
        position: relative;
        a{
        color: #002f34;
        font-size: 16px;
        border: 4px solid;
        font-weight: bold;
        text-decoration: none;
        padding: .6rem 1rem .6rem 2rem;
        border-radius: 22px;
        border-top-color: #23e5db;
        border-right-color: #3a77ff;
        border-left-color: #ffce32;
        border-bottom-color: cornflowerblue;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px 0 rgba(0,0,0,.14);
            b{
                font-size: 1.6rem;
                position: absolute;
                left: 16px;
                top: -5px;
                font-weight: bolder;
                color: #002f34;
            }   
    }
    }
    } 
}
#Box_frst{
    position: absolute;
    top: 3.5rem;
    left: -29px;
    background: #ffffff;
    display: none;
    column-count: 1;
    width: 200px;
    box-shadow: 0 4px 12px 1px rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 16px 16px 18px;justify-content: space-between;
    animation: animatezoom .5s;
    ul{     
    li{
   list-style-type: none;
   text-transform: capitalize;
   color: #002f34;
   padding: 1rem 0; cursor: pointer;
    }
   }
   &:before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0;top: -10px;
   }
}
@keyframes animatezoom{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.a1 button:hover #box1{
    display: block;
}
#main01{
    // position: absolute;
    display: none;
    background: #0000008c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    // display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(0);
}
.content {
    text-align: center;
    background: #ffff;
    top:35px;
    width: 368px;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 400px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    height: 584px;
   animation: animatezoom .5s;
}

.slider{
    padding: 0 0 2.5rem;
    img{
        max-width: 35%;
    }
    p{
        color: #002f34;
        font-size: 18px;
    }
}
.socailmedia{
     button{
        border: 2px solid #002f34;
        font-size: 1.1rem;
        margin: 2px 0 14px; height: 50px;
        text-transform:capitalize;border-radius:.3rem;
        display:inline-flex;
        justify-content: center;
        align-items: center;width:100%;
        a{
            color: #002f34;
            text-decoration: none;
             padding: .6rem 0; display: block;font-weight: bold;
        }
        &:hover{
        border:5px solid #002f34;
    }
    }
    p{
        font-size:13px;
    }
}
.common {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.close {
    position: absolute;
    right: 0px;
    top: 0px;
    right: 10px;
    top: -5px;
    color: #779093;
    z-index: 9;
    font-size: 55px;
    font-weight: 100;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);cursor: pointer;
}
  .owl-dot{
        width: 6px;
        height: 6px;
        border-radius: 50%;    margin: 31px 5px 0px 6px;
        background-color: rgba(0, 47, 52, 0.36)!important; outline: none;
} 
.owl-dot.active{
    background: #3a77ff!important;
}
button.owl-prev {
    position: absolute;
    left: 0;
    top: 37%;outline: none;
}
button.owl-prev span,button.owl-next span{
    font-size:27px;
}
button.owl-next {
    position: absolute;
    right: 0;
    top: 37%;outline: none;
}
.links {
    padding: 2rem 0 1rem; box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
   ul{
    @include flex;
    justify-content: space-between;
    li{
    list-style-type: none;
    font-size: 17px;
    text-transform: capitalize;
    a{
     text-decoration: none;    color: #002f34; transition: all .3s ease-in-out;
     &:hover{   
    color:#3a77ff; transition: all .3s ease-in-out;
     }
    }
    }
    .Frt_Link {position: relative;
        a{
        font-weight: bold;padding: 0 8px 2px 0;
        cursor: pointer;position: relative;
        .fas.fa-chevron-down {
            transform: translate(6px, 0px);
            font-size: 26px;
            position: absolute;
            font-weight: 600;
            fill:#002f34;
        }
    }
  }
 }
}
// Categories
#Categories{
    position: absolute;
    top:20px;width:80rem;
    background: #ffffff;
    z-index: 13;
    height:auto;display: none;
    .ctr-Wrapper{
    @include flex;
    justify-content: space-between;
    align-items: inherit!important;padding:1rem; 
    border-bottom: 4px solid; border-radius: 5px;
    .headCnt-wrp1{
       h2{
           font-size: 1.1rem;
           font-weight: bold;
           padding:.3rem 0 .7rem;color: #002f34;
       }
       a{
        font-weight: 100!important;
        display: block;
        font-size:14px;color: #002f34;
           transition: all .3s ease-in-out;
           padding: 0 0 .4rem;
        &:hover{
           transform: translateX(5px);
           transition: all .3s ease-in-out;
        }
       }
    }
    }
}

//
.banner{
    background: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height:252px;
}

//main-Content


.main{
    width:100%;margin: 3rem 0 0;
    .MainContent-wrapper{ 
        background: #ebeeef;border-radius:.5rem;
        padding:1.2rem 0 2rem;
    .MainContent1{
        @include flex; flex-wrap:nowrap;
    .cmn1{
            margin: 0 11px; 
            border: 1px solid rgba(0,47,52,.2); width: 100%;cursor: pointer;
            border-radius: 5px;background: #ffffff; transition: all .4s ease-in-out;
        figure{
          @include flex;position:relative; align-items: inherit;  padding: .5rem 1rem;
        img{
            width: 171px;
            height: 164px
        }
        .span1{
            left: 9px;
            top: 13px;
            font-size: 13px;
            background: #ffce32;
            padding: 3px 7px;
        }
        .span2{
            position: absolute;
            right: 7px;
            top: 9px;
        }
      }
      figcaption{
        margin: 10px 0 0;padding: .5rem 1rem;
        h2{
           font-size: 1.5rem;
           font-weight: bold;
        }
        h6{
       font-size:1rem;
       padding: 5px 0 5px;
        }
        p{
       opacity: 89;color: #5c7a7d;
        }
        span{
            display: flex;
            justify-content: flex-end;font-size: 12px;
            color: #2222229c;
        }
      }
      &:hover{
        box-shadow: 0 0 3px 2px rgba(0, 47, 52, 0.2);
        transition: all .4s ease-in-out;
     }
     }
     
     .fig1{
         border-left: 5px solid #ffce32;
     }
    }
    .cnt-head { 
        display: flex;
        justify-content: space-between; 
        padding: 0rem 14px 1.2rem;
        h2{
       font-size:1.4rem;
        }
        a{
        color: #002f34;
        text-decoration: none;
        border-bottom: 2px solid #002f34;
        padding:0 0 3px;font-weight: bold;  transition: all .3s ease-in-out;
        &:hover{
      opacity: 69%;
      transition: all .3s ease-in-out;
        }
        }
    }
  }

//   secondline

#mainContent-wrapper{
    background: #ffff!important;
}
}
.MainContent1 .cmn1 {overflow: hidden;
    img{
        transition: all .3s ease-in-out;overflow: hidden;
        &:hover{
            transition: all .3s ease-in-out;
            transform: scale(.96);overflow: hidden;
        }
    }
}
#mainContent-wrapper4{
    background: none;
    .MainContent1{
    width:33%;
    }
}

// load more

.load-more{
    @include flex;
   a{
     transition: all .3s ease-in-out;
     text-decoration: none; color: #002f34;  padding: .6rem 12px;
        font-size: 1.1rem;
        text-transform: capitalize;
        border: 2px solid #002f34;
        border-radius: 5px;
        font-weight: 600; 
    &:hover{
     background:tomato;    background: #d4d4d4d9; opacity: 75%;
     transition: all .3s ease-in-out;
    }
   }  
  
}


// new line

.OLX-app{
    width: 100%;margin: 2rem 0 0;
    .olxapp_content{
     @include flex; justify-content: space-between;
     h1{
    font-size:2.1rem;
    font-weight: bold;
    text-transform: uppercase;
     }
     p{
        line-height: 1.4;
        padding: 1.5rem 0 0;
     }
     h5{
      font-size:1rem;
      padding: 0 0 1rem;
      font-weight: bold;
     }
     .img-wrp{
         display: inline-block;
    a{
        text-decoration: none;
        margin: 0 5px;
        img{
          max-width: 100%;
        }
       }
     }   
}
#itme2{
        position: relative;
        &::before{
        content: '';
        width: 2px;
        height: 150px;
        background: #c6cfd1;
        position: absolute;
        left: -40px;
        top: -18px;
     }  
 }
}   

// footer part

footer{
      padding:1.5rem 0 0rem;
      width: 100%;border-top:1px solid #c6cfd1;
      background: #ebeeef;
    .footer-cnt{
      margin:0rem 0 2rem; 
      @include flex;
      justify-content: space-between;
      align-items: inherit;
      .content1{
           h2{
           font-size: 1rem;
           font-weight: bold;
           padding: 0 0 .6rem;text-transform: uppercase;
           }
           ul{
              li{
                  list-style-type: none;
                  a{
                    text-decoration: none;
                    color: rgba(0,47,52,.64);
                    font-size: 12px;     transition:all .3s ease-in-out;
                    text-transform: capitalize;padding: 0 0 10px;display:block;
                    &:hover{
                      transition:all .3s ease-in-out;
                      color:#002f34;
                      transform: translateX(5px);
                    }
                    svg{
                    width: 23px;
                    height: 23px;   
                    padding-right: 8px;
                    path{
                    fill: rgba(0,47,52,.64);
                    }
                    }
                  }
              }
           }
      }
      .contentlast ul{
          @include flex;
          justify-content:flex-start;
          
      }
    }
  
    .appstore{
        padding: 2.3rem 0 0;
        img{
            max-width: 100px;
        }
    }


    .copyright{
        background: #002f34;color:#ffffff;
        .Cpyrt-wrp{
         @include flex;
         justify-content: space-between;
         padding: 1rem 0;
         .frt01{
            @include flex;
            justify-content: space-between;
            h5{
                text-transform: capitalize;
                padding: 0 11px 0 0;
            }
            a{
            color: #ffffff;
            text-decoration: none;
            padding: 3px 7px 0 0; font-size: 12px;
            }
            p{
                font-size: 12px;
            }
         }
        }
    }
}
// sticky

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 6px 0 13px 0;
    transition: all 0.3s ease-in-out;
}

//chat section

.open-button{
    width: 60px;
    height: 59px;
    border-radius: 50%;
    position: fixed;
    right:15px;   
    bottom: 20px;border: none;
    outline: none;  transition: all .3s ease-in-out;
    background: #2c67ea;   cursor: pointer;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
     &:hover{
       transition: all .3s ease-in-out;
       background: #002f34;
     }
    .far.fa-comment-dots{
      font-size:27px;
      color:#ffff;
     }
}
 .btn {
    background: #2c67ea;
    color: white;
    width: 60px;
    height: 59px;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
    right:15px;   
    bottom: 20px;
    border-radius: 50%;
    border: none;
    outline: none;  transition: all .3s ease-in-out;
    position: fixed; &:hover{
        transition: all .3s ease-in-out;
        background: #002f34;
      }
    svg{
     fill:#ffffff;
    }
  }
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 91px;
    right: 15px;
    border: 1px solid #c1c1c1bf;
    box-shadow: 0 0 3px 1px #c1c1c1;
    z-index: 9;
    height:480px;
    width:300px;
    background: #ffffff;
    border-radius: 5px;
    animation: animatezoom1 .5s;
    .headchat{
     background:#2c67ea;   padding: 1rem;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     h2{
      text-transform: capitalize;
      font-size: 2rem;color:#ffffff;padding: 0 0 10px;
     }
     p{
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
     }
    }
    form{
    width:300px;
    height:255px;
    padding: 1rem 0 1rem 5px;
     position: relative;
     textarea{
        width: 97%;
        border: #fff;
        outline: none;
        height: 294px;
        overflow: scroll;
       &:focus{
          border:none;
          outline:none;
       }

     }
     .inpt {
        bottom: -71px;
        position: absolute;
        padding: 1rem 0 0;
        border-top: 1px solid #c1c1c182;
        width: 99%;
        left: 0px;
        input{
           border:none;
           outline: none;
           padding: 2px 0 12px 9px;
        }
    }
    }
  }
  
  @keyframes animatezoom1{
      0%{
       transform:translateY(0);
       transition:all .2s ease-in-out;
       opacity: 70%;
       
      }
      100%{
        transform:translateY(-20px);
        transition:all .7s ease-in-out;
        opacity:1;
      }
  }


//   featured button

.mainfrt-wrp{
    display: flex;
    justify-content: center;
    margin: 4rem 0 1.3rem;
    .ft01{
        text-transform: capitalize;
        border: none;
        padding: .7rem 1.3rem;
        margin: 0 23px;
        font-size: 18px;
        background: #002f34;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        outline: none;transition: all .3s ease-in-out;
        &:hover{
          transition: all .3s ease-in-out;
          background-image:linear-gradient(to right, #002f34, #2c67ea);
          animation: animate .5s;
        }
    }
}
.Featuredbtn {
    margin: 10px 0;
}

@keyframes animate {
    0%{
    transition: all .3s ease-in-out;   opacity: 1;
    }
    100%{
        background: #2c67ea;  transition: all .3s ease-in-out;
       opacity: .80;
    }
}